@model hotelapp_frontend.Models.Usuario
@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">

<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Create a User</h2>
                    <div class="bt-option">
                        <a asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        <span>Create User</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                @using (Html.BeginForm("Crear", "User", FormMethod.Post))
                {
                    <div class="ri-text">
                        <div class="form-group">
                            <label asp-for="Nombre">Name:</label>
                            <input asp-for="Nombre" class="form-control" required>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaNacimiento">Birth Date:</label>
                            <input asp-for="FechaNacimiento" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="Correo">Email:</label>
                            <input asp-for="Correo" class="form-control" required>
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contrasena">Password:</label>
                            <input asp-for="Contrasena" type="password" class="form-control" required>
                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IDRol">Role:</label>
                            <select asp-for="IDRol" class="form-check form-check-inline" required>
                                <option value="">Select a role...</option>
                                @foreach (var rol in ViewBag.RolesList)
                                {
                                    <option value="@rol.Value">@rol.Text</option>
                                }
                            </select>
                            <span asp-validation-for="IDRol" class="text-danger"></span>
                        </div>
                        <button type="submit" class="create-btn">Create</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
