@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<style>
    .container-login {
        background-image: url('https://cdn.wallpapersafari.com/36/30/IwygkQ.jpg'); /* Reemplaza 'ruta_de_la_imagen' por la ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor 0.5 según el nivel de opacidad deseado */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .card-login {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.3); /* Cambia el valor 0.8 según el nivel de opacidad deseado */
        color: white; /* Cambia el color del texto según tus preferencias */
        padding: 20px; /* Agrega un espacio de 20px alrededor del contenido del card */
    }

        .card-login h3,
        .card-login label,
        .card-login a,
        .card-login p {
            color: white; /* Cambia el color del texto a blanco */
        }
</style>

<body>
    <div class="container-login">
        <div class="overlay"></div>
        <div class="row justify-content-center">
            <div class="col-md-14">
                <div class="card card-login border-0">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Inicio de Sesión Sona</h3>
                        <form asp-controller="Home" asp-action="Index" method="post">
                            <div class="form-group">
                                <label for="email">Correo electrónico:</label>
                                <input type="email" class="form-control" id="email" name="Email" placeholder="Ingrese su correo electrónico" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Ingrese su contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary btn-block" value="Iniciar sesión">Iniciar sesión</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="#">¿Olvidó su contraseña?</a>
                        </div>
                        <div class="text-center mt-3">
                            <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
